<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = ?
		  AND MEMBER_PWD = ?
		  AND STATUS = 'N'
	</entry>

	
	<entry key="insertMember">
		INSERT INTO MEMBER (MEMBER_NO,
							MEMBER_ID,
							MEMBER_PWD,
							"MEMBER_NAME",
							"EMAIL",
							"MEMBER_NIC")
							VALUES
							(
							SEQ_UNO.NEXTVAL,
							?,
							?,
							?,
							?,
							?
							)
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="fineId">
		SELECT 
			MEMBER_ID,
			MEMBER_NAME
		FROM MEMBER
		WHERE MEMBER_NAME=? AND EMAIL=?
	</entry>
	
	<entry key="findPwd">
		SELECT MEMBER_PWD
		FROM MEMBER
		WHERE MEMBER_ID = ?
			AND MEMBER_NAME = ?
			AND EMAIL = ?
	</entry>
	
	<entry key="updateFinePwd">
				UPDATE MEMBER
		SET MEMBER_PWD = ?
		WHERE MEMBER_NO = 
		(
		SELECT MEMBER_NO
		FROM MEMBER
		WHERE MEMBER_ID = ? AND MEMBER_NAME = ? AND EMAIL = ?
		)
	</entry>
	<entry key="selectMember">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="emailCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE EMAIL = ?
	</entry>
	
	<!-- 마이페이지에서 회원정보 수정 -->
<entry key="updateMember">
	UPDATE MEMBER
	SET MEMBER_NAME=?,
		MEMBER_NIC=?,
		EMAIL = ? ,	
		MODI_DATE = SYSDATE
	WHERE MEMBER_ID = ?
	
	</entry>
	
	<!--  마이페이지에서 비밀번호 변경 -->
	<entry key = "updatePwdMember">
		UPDATE MEMBER
		SET MEMBER_PWD = ?,
			MODI_DATE = SYSDATE
		WHERE MEMBER_ID = ? AND MEMBER_PWD = ?
	</entry>
	
	<!-- 마이페이지에서 회원탈퇴 -->
	<entry key = "deleteMember">
		UPDATE MEMBER
		SET STATUS = 'Y'
			, MODI_DATE = SYSDATE
			WHERE MEMBER_ID = ?
			  AND MEMBER_PWD = ?
	</entry>
	
	<!-- 자기글 - 동아리 게시판 -->
	<entry key = "selectList">
	SELECT *
	FROM(
	SELECT ROWNUM RNUM, A.*
		FROM (
		SELECT POST_NO,
			   
			   POST_TITLE,
			   MEMBER_NIC,
			   READ_COUNT,
			   CREATE_DATE
			
	FROM CIRCLE C
	
	JOIN MEMBER  M USING (MEMBER_NO)
	WHERE C.STATUS='N' AND M.STATUS='N' AND MEMBER_ID=?
		ORDER BY CREATE_DATE ASC
		)A
		)
		 WHERE RNUM BETWEEN ? AND ?
</entry>


<!-- 자기글 - 동아리 게시판 - 페이징 처리 -->
<entry key = "selectListCount">
	SELECT COUNT(*) READ_COUNT
	FROM CIRCLE
	WHERE STATUS = 'N'	
</entry>

<!-- 자기글 - 캠프리뷰 게시판 -->
<entry key = "crselectList">
	SELECT *
	FROM(
	SELECT ROWNUM RNUM, A.*
		FROM (
		SELECT POST_NO,
			   
			   POST_TITLE,
			   MEMBER_NIC,
			   READ_COUNT,
			   CREATE_DATE
			
	FROM CAMP_REVIEW C
	
	JOIN MEMBER  M USING (MEMBER_NO)
	WHERE C.STATUS='N' AND M.STATUS='N' AND MEMBER_ID=?
		ORDER BY CREATE_DATE ASC
		)A
		)
		 WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 자기글 - 캠프리뷰 게시판 - 페이징 처리 -->
<entry key = "crselectListCount">
	SELECT COUNT(*) READ_COUNT
	FROM CAMP_REVIEW
	WHERE STATUS = 'N'	
</entry>

<!-- 자기글 - 중고게시판 -->
<entry key = "upselectList">
	SELECT *
	FROM(
	SELECT ROWNUM RNUM, A.*
		FROM (
		SELECT POST_NO,
			   
			   POST_TITLE,
			   MEMBER_NIC,
			   READ_COUNT,
			   CREATE_DATE
			
	FROM USED_PRODUCT U
	
	JOIN MEMBER  M USING (MEMBER_NO)
	WHERE U.STATUS='N' AND M.STATUS='N' AND MEMBER_ID=?
		ORDER BY CREATE_DATE ASC
		)A
		)
		 WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 자기글 - 중고게시판 - 페이징 처리 -->
<entry key = "upselectListCount">
	SELECT COUNT(*) READ_COUNT
	FROM USED_PRODUCT
	WHERE STATUS = 'N'	
</entry>

<!-- 자기글 - 레시피 게시판 -->
<entry key = "cpselectList">
	SELECT *
	FROM(
	SELECT ROWNUM RNUM, A.*
		FROM (
		SELECT POST_NO,
			   
			   POST_TITLE,
			   MEMBER_NIC,
			   
			   CREATE_DATE,
			   READ_COUNT
			
	FROM RECIPE R
	
	JOIN MEMBER  M USING (MEMBER_NO)
	WHERE R.STATUS='N' AND M.STATUS='N' AND MEMBER_ID=?
		ORDER BY CREATE_DATE ASC
		)A
		)
		 WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 자기글 - 레시피 게시판- 페이징 처리 -->
<entry key = "cpselectListCount">
	SELECT COUNT(*) READ_COUNT
	FROM RECIPE
	WHERE STATUS = 'N'	
</entry>
	
	
	
	
</properties>